*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    
}


body{
    background-color: #E4E1FF;
}

.container{
    background-color: white;
    padding: 20px;
    margin-top: 10px;
}


/*Headeer*/




.color-logo{
    color: #B8B8B8;
}

.logo{
    font-size: 20px;
}



.navigation a{
    color: #B8B8B8;
    margin-right: 10px;
    border-right: 1px solid #B8B8B8;
    padding-right: 10px;
}

.navigation a:last-child{
    border-right:none;
}


.navigation a:hover{
    color: black;
}

/* END Headeer*/


/*Main*/




.header-nav{
    background-color: #2D2D2D;


}

.header-main a{
    color: #858585;
    margin-right: 20px;
}

.header-bg{
    background-image: url(/assets/img/bg.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
}


.main-grid-top{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr 1fr ;
    grid-template-rows: 1fr ;
}

.cell{
    background-image: url(/assets/img/2.jpg);
    height: 150px;
    background-position: center;
    border-radius: 5px;
}

.cell p{
    text-align: end;
    color: white;
    text-shadow: 0 0 10px white;
    font-size: 16px;
}

.p{
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
}


/*END Main*/



/*container CELL*/
.grid-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    
}


.cellgrid{
    width: 100px;
    border: 1px solid black;
}

.cell-foto{
    background-image: url(/assets/img/1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 335px;
}

.cell-text{
    text-align: center;

}

button{
    padding: 10px 20px ;
    background-color: #2D2D2D;
    font-size: 18px;
    color: white;
}

.div-price{
    color: red;
    text-decoration: line-through;
}
.cellGrid:hover{
    box-shadow: 0 0 5px black;
    cursor: pointer;
    transition: 0.5s;
}

.cell-text:hover button{
    color: red;
    transition: 1s;
}




/* END Container CELL*/


/*info*/
.info a{
    color: black;
    padding: 0px 30px;
    border-left: 1px solid #C2C2C2;
    border-right: 1px solid #C2C2C2;
    text-shadow: 0 0 2px black;
}
/* END info*/

/*footer*/
.footer{
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    justify-items: center;
}

.footer a{
    color: #C2C2C2;
}




/* END footer*/